.title {
  background-color: dodgerblue;
  text-align: center;
}

.list-group {
  padding-left: 1px;
  margin: -19px -1px;
}
.list-group-item {
  padding: 2px 5px;
  border: none;
  background: dodgerblue;
}

.form-control {
  width: 24%;
  border: 1px solid dodgerblue;
}
.menuItem {
  align-items: center;
  cursor: pointer;
  height: 35px;
  display: flex;
  border-radius: 0 !important;
}

.scroll {
  overflow-y: scroll;
  overflow-x: hidden;
}
.contentArea {
  width: 82%;
  padding: 10px;
  padding-top: 15px;
  max-height: 25px;
}
.activeMenuItem {
  background: yellow;
  font-weight: bold;
}
.customTitle {
  margin: 0;
  padding: 10px 0px 10px 0px;
}
.padding0 {
  padding: 0;
}
.margin15 {
  margin-left: 15px;
}
.cutomButton {
  display: flex;
  flex-direction: row;
}
.customSubmit {
  margin-left: 15%;
}
.alert-success {
  margin-top: 2%;
  padding: 5px;
  margin-left: 33%;
  display: flex;
}
.alertContainer {
  display: flex;
  margin-top: 4%;
  padding: 1%;
  text-align: center;
}
.columnFlex {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.maringRight{
    margin-right: 2%;
}
